main {
  padding-top: 5rem;
  color: #5a5a5a;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.term-container {                                               
  word-break: break-word;       
  overflow-wrap: break-word;                  
  font-family: Monaco, courier;                
  font-size: 12px;                            
  line-height: 20px;                           
  padding: 14px 18px;                                                                          
  white-space: pre-wrap;        
}
