<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="With webmon you are able to monitor your system using a static website. To ensure your monitoring is visible in your browser, put webmon's update.sh to your crontab and add webmon's url to your new tab config in your browser.">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="30" >
    <title>webmon</title>
    <link rel="icon" href="./favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="./bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./webmon.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">webmon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
{% for host in hosts.hosts -%}
              <li class="nav-item">
                <a class="nav-link" href="#{{ host.name }}">{{ host.name }}</a>
              </li>
{% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">

{% for host in hosts.hosts -%}
      <div class="container host-container">
        <div class="album py-1 bg-light">
          <p class="float-end">{{ host.updated }}</a></p>
          <h2><a id="{{ host.name }}">{{ host.name }}</a></h2>

    {% for card in host.cards -%}
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-2 box-shadow">
                <h5 class="card-header bg-info">{{card.name }}</h5>
                <p class="card-text term-container">{{ card.content }}</p>
              </div>
            </div>
          </div>
    {% endfor %}
        </div>
      </div>
{% endfor %}

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>updated: {{ hosts.updated }}</p>
        <p>View webmon <a href="https://github.com/bboortz/webmon">on Github</a>. Proudly made with open source software!</p>
      </div>
    </footer>

    <script src="./bootstrap.bundle.min.js"></script>

  </body>
</html>
